.progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.progress-bar-container p {
  color: #1d1d1d;
  font-weight: 400;
}
