.home-header-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
  padding: 0px 16px 16px 16px;
  width: 100%;
  min-height: 132px;
}

.hero-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-section h1 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.filter-section {
  width: 100%;
  display: flex;
  gap: 8px;
}

.sort-filter-section {
  width: 100%;
  display: flex;
  gap: 8px;
}

@media (max-width: 768px) {
  .filter-section {
    flex-direction: column; /* Cambia el layout a columna en lugar de fila */
    gap: 16px; /* Aumenta el espacio entre los elementos si es necesario */
  }
}
