.filter-box-container {
  background: #dc0a2d;
  display: flex;
  flex-direction: column;
  padding: 4px;

  border-radius: 12px;
  box-shadow: 0px 3px 12px 3px #00000033;
}

.filter-box-container h1 {
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 16px 24px;
}

.filter-box-content {
  background: white;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  gap: 16px;
  font-weight: 400;
  color: #1d1d1d;
}

.filter-box-content label {
  display: flex;
  align-items: center;
  gap: 8px;
}
